@model Instrumento


<div class="container">
    <div class="row">
        <div class="card">
            <div class="text-center">
                <img src="@Model.ImagemUrl" class="img-fluid w-50" alt="Imagem do Instrumento">
            </div>
            <div class="card-body">
                <h2 class="card-title">@Model.InstrumentoNome</h2>
                <p class="card-text">
                    <h5>@Model.ResumoDetalhada</h5>
                </p>
                <div class="btn-group" role="group" aria-label="Botões de ação">
                    <a asp-controller="Instrumento" asp-action="List" class="btn btn-outline-info">
                        Ver todos os Instrumentos
                    </a>
                    <a class="btn btn-primary" id="cartButton" asp-controller="CarrinhoCompra"
                       asp-action="AdicionarItemNoCarrinhoCompra" asp-route-instrumentoId="@Model.InstrumentoId">
                        Adicionar @Model.InstrumentoNome ao carrinho
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
